

$primary-color: #9356DC;
$primary-background: rgba(147,86,220,0.2);
$secondary-color: #FF79DA; 
$tertiary-color: #99E2D0;
$mobile-breakpoint: 768px;
$tablet-breakpoint: 992px;
$gray-light: #eaeaea;
$gray-clear: #f6f6f6;
$gray-medium: #eaeaea;
$gray-dark: #353535;
$font-weights: (
    "regular": 400, 
    "medium": 500, 
     "bold": 700,
     "light": 300
);

@mixin textNoWrap {
    white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
