.full-palette {
  &::before {
    background-image: url("./../../assets/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  }
}

.enchanted {
  &::before {
    background-image: url("../../assets/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
  }
}

.bastille {
  &::before {
    background-image: url("../../assets/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  }
}

.gourmand {
  &::before {
    background-image: url("../../assets/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
  }
}
